name: Create QA

on:
  pull_request:
    types:
      - opened
      - synchronize

  workflow_run:
    workflows:
      - Run unit tests
    types: 
      - completed

jobs:

  create:
    runs-on: ubuntu-latest
    #if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - name: Echo conclusion
      run: echo ${{ github.workflow_run }}

    - name: Create QA instance
      run: echo Setup QA for this particular feature
