name: Run unit tests

on: push

jobs:

  testEnv:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Check
      run: git branch

    - name: Check Event
      run: echo  ${{ github.event }}

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Test service package
      run: go test -v github.com/istherepie/testing-actions/internal/service


  additional:
    runs-on: ubuntu-latest
    if:  ${{ github.event == 'pull_request' }}

    steps:
        - name: Check
          run: echo Do additional things